body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#buttonContainer {
    text-align: center;
}

#lightButton {
    padding: 15px 20px;
    font-size: 16px;
}
